<html>

<head>
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
        integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script>
        let channel_id = "{{ channel_id }}";
    </script>
    <script src="{{ url_for('static', filename='feed.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>

<body></body>

</html>